.signInForm{
  background-color: transparent;
}
.signUpForm{
  background-color: transparent;
}
.homePage{
  height: 100vh;
  background-image: url("https://hd.unsplash.com/photo-1414394825544-67fa8e8e28ea");
  h3{
    margin: 0;
  }
}
.navbar .navbar-default{
  margin-bottom: 0;
}
.map{
  width: 1000px;
  display: block;
  margin: 50px auto;
}

#hover{
  position: fixed;
  z-index: 999;
  background-color: #EEE;
  height: 300px;
  overflow: hidden;;
}

#mapid{
  height: 480px;
}
.imgRow{
  z-index: 999
}
