.signInForm{
  background-color: transparent;
  span{
    float: right;
    background-color: #EEE;
    border-radius: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  form{
    padding: 10px;
    border-radius: 5px;

    background-color: #EEE;
    .input-field{
      margin: 5px 0;
    }
    label{
      display: block;
    }
  }
}

.signInFormInt{
  width: 50%;
  margin: 20px auto;
}

.signUpFormInt{
  width: 50%;
  margin: 20px auto;
}

.signUpForm{
  background-color: transparent;
  span{
    float: right;
    background-color: #EEE;
    border-radius: 100%;
    font-size: 14px;
    cursor: pointer;
  }
  form{
    padding: 10px;
    border-radius: 5px;
    background-color: #EEE;
    .input-field{
      margin: 5px 0;
    }
    label{
      display: block;
    }
  }
}
.homePage{
  height: 100vh;
  background-image: url("https://hd.unsplash.com/photo-1414394825544-67fa8e8e28ea");
  h3{
    margin: 0;
  }
}
.navbar .navbar-default{
  margin-bottom: 0;
}
.map{
  width: 1000px;
  display: block;
  margin: 50px auto;
}

#hover{
  position: fixed;
  z-index: 999;
  background-color: #EEE;
  height: 300px;
  overflow: hidden;;
}

#mapid{
  height: 480px;
}
.imgRow{
  z-index: 999
}
